.img-content {
    text-align: center;
    margin-bottom: 20px;
}

.img-content .wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 224px; height: 224px;
    background-size: cover;
    background-position: center;
}

.img-content img {
    width: 100%; max-width: 218px; display: none;
}

.item .desc-content .wrapper {
    padding: 20px 30px;
    border: 1px solid #adadad;
    border-radius: 8px;
}

.item .desc-content .wrapper:hover {
}

@media (min-width: 1200px) {
    .item .desc-content .wrapper {
        padding: 28px 36px;
    }
}
