.img-content {
    text-align: center;
    margin-bottom: 20px;
}

.img-content .wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 224px; height: 224px;
    background-size: cover;
    background-position: center;
}
.news .img-content .wrapper {
    position: relative; z-index: 2;
    width: 140px; height: 140px;
}

.img-content img {
    width: 100%; max-width: 218px; display: none;
}

.item .desc-content .wrapper {
    padding: 20px 30px;
    border: 1px solid #adadad;
    border-radius: 8px;
}

.news .item .desc-content .wrapper {
    position: relative; z-index: 1;
}


@media (min-width: 992px) {
    .img-content .wrapper {
        width: 260px; height: 260px;
    }
    .news .img-content {
        margin-bottom: 0;
    }
    .news .img-content .wrapper {
        width: 180px; height: 180px; left: -10px;
    }
    .news .item .desc-content .wrapper {
        padding: 20px 20px 16px 40px;  left: 0; margin-left: -60px;
    }
}


@media (min-width: 1200px) {
    .item .desc-content .wrapper {
        padding: 28px 36px;
    }

    .news .item .desc-content .wrapper {
        padding: 20px 25px 16px 50px; left: 0; margin-left: -20px;
    }
    .news .img-content .wrapper {
        width: 230px; height: 230px; left: 16px;
    }
}
