.img-thumb {
    height: 192px;
    width: 256px
}

.img-form {
    width: 300px;
    height: 200px;
    text-align: center;
}

.bord {
    padding: 50px;
    margin: 50px;
    border: 1px solid #adadad;
    border-radius: 8px;
}

