/* vos codes css de la home page ici : */

.react-parallax .h2 {
    font-size: 2.5rem; /* 56 px */
}

.map iframe {
    width: 100%; margin: auto;
    height:320px;
}

.last-news .img-content .wrapper {
    position: relative; z-index: 2; bottom: -30px; margin: 0 auto -20px auto;
}

.last-news .item .desc-content .wrapper {
    position: relative; z-index: 1; padding-top: 3.75rem;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .react-parallax .h2 {
        font-size: 3.5rem; /* 56 px */
    }

    .map iframe {
        height:480px;
    }

}
@media (min-width: 992px) {
    .item .desc-content .wrapper { min-height: 190px;}
}