.img-mask img{border-radius: 50%; width: 218px;}
.activity-item .content {border: 1px solid #adadad; border-radius: 8px;}





@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
}