@import url('https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap');

@font-face {
    font-family: 'Brush-Up';
    src:url('./fonts/Brush-Up.woff') format('woff'),
    url('./fonts/Brush-Up.woff2') format('woff2'),
    url('./fonts/Brush-Up.eot'),
    url('./fonts/Brush-Up.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Brush-Up.otf') format('truetype');

    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {font-family: 'Marvel', sans-serif; color: #000; font-size: 0.875rem; /* ou 14px */}

.h1 {font: 2.625rem/1 'Brush-Up',Arial,sans-serif;}
.h2 {font: 1.875rem/1 'Brush-Up',Arial,sans-serif;}
.h3 {font: 1.5rem/1 'Brush-Up',Arial,sans-serif;}

.bold {font-weight: 700;}

.green {color: #10DED0;}
.white {color: #FFF;}
.red {color: #F54B10}

a {text-decoration: none; color: #000;}

/* Ici mettez vos codes css qui concerne du style global */
/* Pour la home page codez votre style dans home.css */



.blockContact-AddContent {background-color: #757474;}
.form-floating textarea.form-control {height: 100px;}



.blue {/*background-color: #10DED0; border-left: #10DED0; border-right: #10DED0; border-top: #10DED0;*/}
.grey {/* background-color: #757474; */}

.ml {color: #FFFFFF}


.pj { border-bottom: 0; color: #FFFFFF; background-color: #757474; border-color: #757474; padding: .375rem 1.75rem;  height: 38px;}

.pj2 { border-bottom: 0; color: #FFFFFF; background-color: #757474; border-color: #757474; padding: .375rem 1.75rem; height: 38px;}

.whi {background-color: #10DED0;}
.whi {color: white;}

.btn-b {padding: .375rem 1.75rem; border-color: #fff; color: #fff;}

form .form-control { background-color: transparent; border: 0 none; border-bottom: 1px solid #fff; border-radius: 0; color: #fff;}
form .form-control:focus { color: #fff; background-color: transparent;border-color: #fff; outline: 0;box-shadow: none;}

.form-select {color: #fff; background-color: transparent; border: 0 none; border-bottom: 1px solid #fff; border-radius: 0;}
.form-select:focus {border-color: transparent; outline: 0; box-shadow: none; border-bottom: 1px solid #fff;}
.form-floating>label {padding-left: 1.313rem; color: #fff;}
.form-control[type=file] { border-bottom: 0; }
.btn-outline {padding: .375rem 1.75rem; border-color: #fff; color: #fff;}
.btn-outline:hover {color: #fff;}
.footer {font-size: 0.75rem;}

@media (min-width: 768px) {
    .h1 {font-size: 3.75rem; /* ou 60px */}
    .h2 {font-size: 2.25rem; /* ou 36px */}
}

@media (min-width: 992px) {
    .h1 {font-size: 5.125rem; /* ou 82px */}
}
