/* vos codes css de la home page ici : */

.react-parallax .h2 {
    font-size: 2.5rem; /* 56 px */
}

.map iframe {
    width: 100%; margin: auto;
    height:320px;
}





@media (min-width: 768px) {

}

@media (min-width: 992px) {
    .react-parallax .h2 {
        font-size: 3.5rem; /* 56 px */
    }

    .map iframe {
        height:480px;
    }

}
